*{
  padding:0% 0%;
  margin: 0% 0%;
}

body {
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

#head{
width:100%;
height:10%;
display:flex;
align-items:center;
justify-content:space-between;
}

#head1, #head2{
height:100%;
width:40%;
display:flex;
justify-content:space-evenly;
flex-direction:column;
}

#head2{
width:35%;
align-items:center;
flex-direction:row;
}

#head2 button{
height:50%;
background:rgba(10,167,167,1);
color:white;
width:10%;
border-radius:5px;
box-shadow:0px 0px 5px 0px black;
font-size:large;
cursor:pointer;
}

#body1{
margin-top:2%;
width:100%;
height:35%;
display:flex;
align-items:center;
justify-content:space-between;

}


.box{
height:80%;
width:18%;
box-shadow:0px 0px 5px 0px black;
border-radius:8px;
display:flex;
justify-content:space-evenly;
flex-direction:column;
align-items:center;
}

.box div{
width:90%;
height:10%;
display:flex;
justify-content:space-between;
align-items:center;

}
.box .crit{
height:100%;
width:fit-content;
display:flex;
align-items:center;
justify-content:space-between;
overflow:hidden;
}

